extends layout

block content
  .row.animated.fadeIn
    .col-lg-12
      #dashboard
        h3#timer= start
        h3 Your objectives
        table.table.table-striped.table-hover
          thead
            tr
              th #
              th Objectives
              th Status
              th
          tbody
            tr(class=" #{ data[0].pass ? 'info' : '' } ")
              td 1
              td <a href="/puzzles/1">Authenticate</a>
              td #{ data[0].pass ? 'Complete' : 'Incomplete' }
              if data[0].pass
                td
              else
                td <a href="/puzzles/1" class="btn btn-info">start</a>
            tr(class=" #{ data[1].pass ? 'info' : '' } ")
              td 2
              td <a href="/puzzles/2">Encryption</a>
              td #{ data[1].pass ? 'Complete' : 'Incomplete' }
              if data[1].pass
                td
              else
                td <a href="/puzzles/2" class="btn btn-info">start</a>
            tr(class=" #{ data[2].pass ? 'info' : '' } ")
              td 3
              td <a href="/puzzles/3">Geo-Location</a>
              td #{ data[2].pass ? 'Complete' : 'Incomplete' }
              if data[2].pass
                td
              else
                td <a href="/puzzles/3" class="btn btn-info">start</a>
            tr(class=" #{ data[3].pass ? 'info' : '' } ")
              td 4
              td <a href="/puzzles/4">Fine Print</a>
              td #{ data[3].pass ? 'Complete' : 'Incomplete' }
              if data[3].pass
                td
              else
                td <a href="/puzzles/4" class="btn btn-info">start</a>
        .progress.progress-striped
          .progress-bar.progress-bar-info(style="width: #{ complete }%" )
  script.
    $(document).ready(function(){

      $.get('/game', function(data) {
        console.log(data.start)
        var startTime = new Date(data.start)
        var deadline= new Date ( startTime );
        deadline.setHours ( startTime.getHours() + 3 );
        $("#timer")
          .countdown(deadline, function(event) {
            $(this).text(
              "self destruct in: " + event.strftime('%H:%M:%S')
            );
          });
      })

    });
