extends layout

block content
  .row
    .col-lg-12
      #dashboard
        h3#subheadline Agent dashboard
        table.objectives.table.table-striped.table-hover
          thead
            tr
              th #
              th Objectives
              th Status
              th
          tbody
            tr(class=" #{ data[0].pass ? 'info' : '' } ")
              td 1
              td <a href="/puzzles/1">Authenticate <i class="fa fa-eye"></i></a>
              td #{ data[0].pass ? 'Complete' : 'Incomplete' }
              if data[0].pass
                td
              else
                td <a href="/puzzles/1" class="btn btn-info">start <i class="fa fa-crosshairs"></i></a>
            tr(class=" #{ data[1].pass ? 'info' : '' } ")
              td 2
              td <a href="/puzzles/2">Encryption <i class="fa fa-unlock-alt"></i></a>
              td #{ data[1].pass ? 'Complete' : 'Incomplete' }
              if data[1].pass
                td
              else
                td <a href="/puzzles/2" class="btn btn-info">start <i class="fa fa-crosshairs"></i></a>
            tr(class=" #{ data[2].pass ? 'info' : '' } ")
              td 3
              td <a href="/puzzles/3">Geo-Location <i class="fa fa-globe"></i></a>
              td #{ data[2].pass ? 'Complete' : 'Incomplete' }
              if data[2].pass
                td
              else
                td <a href="/puzzles/3" class="btn btn-info">start <i class="fa fa-crosshairs"></i></a>
            tr(class=" #{ data[3].pass ? 'info' : '' } ")
              td 4
              td <a href="/puzzles/4">Fine Print <i class="fa fa-puzzle-piece"></i></a>
              td #{ data[3].pass ? 'Complete' : 'Incomplete' }
              if data[3].pass
                td
              else
                td <a href="/puzzles/4" class="btn btn-info">start <i class="fa fa-crosshairs"></i></a>
        .progress.progress-striped
          .progress-bar.progress-bar-info(style="width: #{ complete }%" )
  script.
    $(document).ready(function(){

      $.get('/game', function(data) {
        var startTime = new Date(data.start)
        var deadline= new Date ( startTime );
        deadline.setHours ( startTime.getHours() + 3 );
        //- deadline = new Date(startTime.getTime() + 1*60000);
        console.log("deadline: ", deadline)
        $("#timer")
          .countdown(deadline, function(event) {
            $(this).text(
              "self destruct in: " + event.strftime('%H:%M:%S')
            );
          }).on('finish.countdown', function() {
                $("#timer").text("Time is up");
                $('.objectives').addClass('hidden');
                $('#subheadline').addClass('hidden');
                $('div.progress').addClass('hidden');
          });
      })

    });
